#select-ele{
    width: 72px;
    height: 42px;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-radius: var(--border-radius-small);
    border: none;
    padding: 2px;
}

select{
    font-size: 14px;
    font-weight: 700;
    outline: 2px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 14px;
    text-align: start;
}

option {
    background-color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 3px;
}

select:focus, select:active {
    outline: 2px solid var(--color-on-secondary);
}