.icon-text-btn{
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    display: block;
    margin: 15px auto;
    /* min-width: 85px; */
    max-width: 100px;
    height: 42px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 15px;
    border-radius: var(--border-radius-small);
    outline: 2px solid transparent;
    text-align: center;
}

.icon-text-btn svg{
    width: 26px;
    height: 26px;
    padding: 5px;
}

.icon-text-btn:hover {
    outline-color: var(--color-tertiary);
    cursor: pointer;
}

.icon-text-btn:active {
    scale: 0.9;
}